<!-- BACKEND/app/templates/ajustes.html-->
{% extends 'layout.html' %}

{% block content %}
<!-- Pantalla de ajustes -->
<h1 class="text-4xl font-bold text-[#1DAFDF] mb-8 text-center pt-20">Ajustes</h1>
<div class="py-10 flex justify-center items-center">
    <div class="w-full max-w-screen-lg bg-white rounded-xl shadow-lg p-8">
        <h2 class="text-3xl font-semibold text-[#1DAFDF] mb-4">Preferencias del Usuario</h2>

        <!-- Activar/Desactivar Notificaciones -->
        <div class="flex items-center justify-between mb-3">
            <div class="flex items-center gap-2">
                <i class="fas fa-bell text-2xl text-[#1DAFDF]"></i> <!-- Icono junto al texto -->
                <span class="text-lg text-gray-700">Notificaciones</span>
            </div>
            <label for="notifications" class="switch">
                <input type="checkbox" id="notifications" class="switch-input w-8 h-8">
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
            </label>
        </div>

        <!-- Activar/Desactivar Modo Oscuro -->
        <div class="flex items-center justify-between mb-3">
            <div class="flex items-center gap-2">
                <i class="fas fa-moon text-2xl text-[#1DAFDF]"></i> <!-- Icono junto al texto -->
                <span class="text-lg text-gray-700">Modo Oscuro</span>
            </div>
            <label for="darkMode" class="switch">
                <input type="checkbox" id="darkMode" class="switch-input w-8 h-8">
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
            </label>
        </div>

        <!-- Activar/Desactivar Modo Guía -->
        <div class="flex items-center justify-between mb-3">
            <div class="flex items-center gap-2">
                <i class="fas fa-question-circle text-2xl text-[#1DAFDF]"></i> <!-- Icono junto al texto -->
                <span class="text-lg text-gray-700">Modo Guía</span>
            </div>
            <label for="guideMode" class="switch">
                <input type="checkbox" id="guideMode" class="switch-input w-8 h-8" checked>
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
            </label>
        </div>

    </div>
</div>

{% endblock %}
