<!-- BACKEND/app/templates/layout.html-->
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename='images/logo_autoportec.png') }}" type="image/png">
    <title>AutoPorTec</title>
    <!--Tailwind {cambiar cuando se despliegue en producción}-->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body class="min-h-screen flex flex-col">

    <!-- Contenido principal ocupa todo el espacio disponible -->
    <main class="flex-grow flex">

        <!-- Barra lateral (20%) -->
        <aside class="w-1/5 border-r-2 border-[#1DAFDF] flex flex-col justify-between bg-[#F5F4B3] text-black p-4">
            <div>
                <!-- Logo y título -->
                <div class="flex items-center max-w-full px-4 py-2 overflow-hidden mt-5">
                    <a href="{{ url_for('home.inicio') }}" class="flex items-center w-full space-x-4">
                        <div class="w-1/4 max-w-[100px]">
                            <img src="{{ url_for('static', filename='images/logo_autoportec.png') }}" alt="Logo" class="w-full h-auto object-contain">
                        </div>
                        <h2 class="w-3/4 text-2xl md:text-3xl font-bold text-black truncate">AutoPorTec</h2>
                    </a>
                </div>
                <!--Menú de navegación lateral-->
                <h1 class="text-xl font-bold mb-6 text-center mt-16">Menú</h1>
                <nav class="flex flex-col space-y-3">
                    <a href="{{ url_for('carga_pd.pd_carga') }}" class="hover:bg-[#FFFFFF] hover:text-[#37AFE1] hover:font-bold border-2 border-[#1DAFDF] bg-[#FFFECB] p-4 text-lg rounded">Carga del PD</a>
                    <a href="{{ url_for('perfil.profile') }}" class="hover:bg-[#FFFFFF] hover:text-[#37AFE1] hover:font-bold border-2 border-[#1DAFDF] bg-[#FFFECB] p-4 text-lg rounded">Perfil</a>
                    <a href="{{ url_for('ayuda.help') }}" class="hover:bg-[#FFFFFF] hover:text-[#37AFE1] hover:font-bold border-2 border-[#1DAFDF] bg-[#FFFECB] p-4 text-lg rounded flex items-center space-x-2">
                        <img src="{{ url_for('static', filename='images/help.png') }}" class="w-5 h-5" alt="Ayuda">
                        <span>Ayuda</span>
                    </a>
                </nav>
            </div>
            <!-- Pie de barra lateral -->
            <div class="mt-10">
                <img src="{{ url_for('static', filename='images/logo-tecsup.png') }}" alt="Logo" class="w-full">
            </div>
        </aside>

        <!-- Contenido dinámico (80%) -->
        <div class="w-4/5">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <!-- Footer siempre al final -->
    <footer id="footer" class="bg-[#F5F4B3] text-black p-4 text-center border-t-2 border-[#1DAFDF]">
        &copy; Copyright 2025, by Nuñez.
    </footer>

</body>
</html>